
.container {
  width: 100%;
  height: 100vh;
  background: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-card {
  width: 710px;
  background: #f9f9f9;
  padding: 20px;
  display: flex;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 100px;
  margin-left: 200px;
}
.profile-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.profile-picture {
  width: 64px;
  height: 64px;
  background: rgba(247, 247, 247, 1);
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
}
.profile-image {
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.profile-name-text {
  font-weight: 500;
  font-size: 24px;
  color: rgba(0, 0, 0, 1);
}
.transaction-table {
  width: 100%;
}
.transaction-header,
.transaction-row {
  margin-left: 8px;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.transaction-header {
  font-weight: 700;
  color: rgba(130, 130, 130, 1);
}
.transaction-row {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
}
.transaction-header span {
  flex: 1;
  text-align: center;
}
.transaction-item, .transaction-quantity, .transaction-price, .transaction-seller, .transaction-options {
  flex: 1;
  justify-content: center;

}
.transaction-item .item-text, .transaction-quantity .quantity-amount, .transaction-price .price-text, .transaction-seller .seller-text {
  font-weight: 600;
  font-size: 14px;
}
.transaction-date {
  margin: 0px 25px; /* 왼쪽에 마진 추가 */
}

.transaction-quantity {
  margin-left: 50px;
  margin-right: 20px;
}
.transaction-price {
  /*flex: 0.7; !* 가격 칸을 줄임 *!*/
  margin-left: 30px; /* 수량과 가격의 간격 늘림 */
  margin-right: 10px;
}
.transaction-item {
  /*flex: 1;*/
  margin: 0px 30px; /* 좌우 마진 조정 */

}
.transaction-seller {
  /*flex: 1;*/
  margin-left: 15px;
}
.transaction-options {
  display: flex;
  justify-content: space-between;
  width: 24px;
}
.dot {
  width: 4px;
  height: 4px;
  background: rgba(130, 130, 130, 1);
  border-radius: 50%;
}
@media (max-width: 767px) {
    .profile-card {
      width: 90%;
      background: #f9f9f9;
      border-radius: 10px;
      flex-direction: column;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      position: absolute;
      margin-left: 0px;
      /*box-sizing: border-box;*/
      /*display: flex;*/
      /*justify-content: space-between;*/
      /*align-items: center;*/
      overflow-x: hidden;
    }
  .profile-card span{
/*수정하삼*/
  }
}