<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
  <link href="/css/mypage.css" rel="stylesheet" />
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="profile_section">
      <div class="profile_picture">
        <div class="picture_frame">
          <div class="profile_image"></div>
        </div>
        <div class="profile_name">
          <span class="name_text">김애란</span>
        </div>
      </div>
      <div class="id_section">
        <span class="id_label">ID</span>
        <div class="id_value">
          <span class="id_text">love10</span>
        </div>
      </div>
      <div class="phone_section">
        <span class="phone_label">Phone</span>
        <div class="phone_value">
          <span class="phone_text">010-1234-5678</span>
          <br>
          <input type="text" placeholder="변경할 전화번호를 입력해주세요">
        <br>
        </div>
      </div>
      <div class="password_section">
        <span class="password_change_label">비밀번호 변경</span>
        <div class="current_password">
          <span class="current_password_label">현재 비밀번호</span>
          <br>
          <input type="password" placeholder="현재 비밀번호를 입력해주세요">
        </div>
        <div class="new_password">
          <span class="new_password_label">변경할 비밀번호</span>
          <br>
          <input type="password" placeholder="변경할 비밀번호를 입력해주세요">
        </div>
        <div class="confirm_password">
          <span class="confirm_password_label">비밀번호 확인</span>
          <br>
          <input type="password" placeholder="변경할 비밀번호를 다시 입력해주세요">
        </div>
      </div>
      <div class="save_button">
        <span class="save_button_text">Save changes</span>
      </div>
    </div>
  </div>
</body>
</html>
